html {
    background-color: black;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0; /* Remove any default margins */
	flex-direction: column;
}

h1, button {
    position: relative;
	bottom: 50px;
    color: #fff;
    animation: floating 1s infinite alternate ease-in-out; /* Simplified animation shorthand */
}
button {
	text-decoration: none;
	padding: 10px;
	font-size: 50px;
	background-color: #BEB556;
}

@keyframes floating {
    from { transform: translateY(-10px); }
    to { transform: translateY(0px); }
}
